@model PaperMID.BO.ProductoBO

@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Master/_LayoutAdministrador.cshtml";
}

<div class="ajax-content container-fluid">
    <section class="content-header">
        <h1>
            Productos
            <a class="btn btn-info pull-right" href="@Url.Action("ReporteProducto", "Reportes")">Descargar Reporte&nbsp;&nbsp;<span class="fa  fa-cloud-download"></span></a>
        </h1>
    </section>
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Datos Producto</h3>
                    </div>
                    @using (Ajax.BeginForm("Agregar_Producto", "Producto", new AjaxOptions { HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <form role="form">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Código Producto</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-tag"></i>
                                                </div>
                                                <input type="text" placeholder="Código Producto" class="form-control" name="CódigoProd" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Nombre Producto</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-shopping-cart"></i>
                                                </div>
                                                <input type="text" placeholder="Nombre Producto" class="form-control" name="NombreProd" required />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Descripcion del Producto</label>
                                            <textarea class="form-control" placeholder="Escribe aquí la descripción del producto" rows="5" style="width: 100%; height: 87px;" name="DescripcionProd" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-header with-border">
                                    <h3 class="box-title">Detalles de Stock</h3>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <br /><br />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group ">
                                                    <label>Precio Producto</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            $
                                                        </div>
                                                        <input type="number" placeholder="Precio Producto" class="form-control" name="PrecioProd" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group ">
                                                    <label>Descuento Producto</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            $
                                                        </div>
                                                        <input type="number" placeholder="Descuento Producto" class="form-control" name="DescuentoProd" required />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group ">
                                                    <label>Cantidad Disponible</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa  fa-th-list"></i>
                                                        </div>
                                                        <input type="number" placeholder="Cantidad Disponible" class="form-control" name="CantidadDisponibleProd" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group ">
                                                    <label>Cantidad Mínima</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa  fa-th-list"></i>
                                                        </div>
                                                        <input type="number" placeholder="Cantidad Mínima" class="form-control" name="CantidadMinimaProd" required />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Tipo Producto</label><!--Obtener el valor del DropDownList por AJAX-->
                                                    @Html.DropDownList("IdProveedor1", null, htmlAttributes: new { @class = "form-control select2", @style = "width: 100%;" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Tipo Producto</label><!--Obtener el valor del DropDownList por AJAX-->
                                                    @Html.DropDownList("IdTipoProducto1", null, htmlAttributes: new { @class = "form-control select2", @style = "width: 100%;" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="col-md-4">
                                        <div style="text-align:center; border:1px solid rgb(204, 204, 204);">
                                            <output id="ContenedorImg">
                                                @*Elemento dondé se cargará la nueva imagen #3c8dbc*@
                                                <img src="~/Style/Back/dist/img/PreviewProducto.png" class="PreviewImagen" />
                                            </output>
                                            <br />
                                        </div>
                                        <br />
                                        <div class="file-loading">
                                            <input type="file" id="files" name="ImagenProducto" required />
                                        </div>
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" class="btn btn-info pull-right">Guardar</button>
                            </div>
                        </form>
                    }

                </div>
            </div>
        </div>
    </section>
    @{ Html.RenderAction("List_Productos", "Producto");}
</div>
<style>
    .PreviewImagen {
        height: 200px;
        width: 200px;
        margin: 10px 5px 0 0;
    }
</style>@*CSS para la Preview de la imagen*@

<script type="text/javascript">
    function archivo(evt) {
    var files = evt.target.files; // FileList object
    // Obtenemos la imagen del campo "file".
    for (var i = 0, f; f = files[i]; i++) {
    //Solo admitimos imágenes.
    if (!f.type.match('image.*')) { continue; }

    var reader = new FileReader();

    reader.onload = (function(theFile) {
    return function(e) {
    // Insertamos la imagen
        document.getElementById("ContenedorImg").innerHTML = ['<img class="PreviewImagen" src="', e.target.result, '" title="', escape(theFile.name), '"/>'].join('');
    };
    })(f);


    reader.readAsDataURL(f);
    }
    }

    document.getElementById('files').addEventListener('change', archivo, false);
</script> @*Script para la Preview de la imagen*@
@if(ViewBag.showSuccessAlert)
    {
<script>
            alert('Los datos se grabaron corectamente');
</script>
    }
<script>
		function reset () {
			$("#toggleCSS").attr("href", "../themes/alertify.default.css");
			alertify.set({
				labels : {
					ok     : "OK",
					cancel : "Cancel"
				},
				delay : 5000,
				buttonReverse : false,
				buttonFocus   : "ok"
			});
		}

		// ==============================
		// Standard Dialogs
		$("#alert").on( 'click', function () {
			reset();
			alertify.alert("This is an alert dialog");
			return false;
		});

		$("#confirm").on( 'click', function () {
			reset();
			alertify.confirm("This is a confirm dialog", function (e) {
				if (e) {
					alertify.success("You've clicked OK");
				} else {
					alertify.error("You've clicked Cancel");
				}
			});
			return false;
		});

		$("#prompt").on( 'click', function () {
			reset();
			alertify.prompt("This is a prompt dialog", function (e, str) {
				if (e) {
					alertify.success("You've clicked OK and typed: " + str);
				} else {
					alertify.error("You've clicked Cancel");
				}
			}, "Default Value");
			return false;
		});

		// ==============================
		// Ajax
		$("#ajax").on("click", function () {
			reset();
			alertify.confirm("Confirm?", function (e) {
				if (e) {
					alertify.alert("Successful AJAX after OK");
				} else {
					alertify.alert("Successful AJAX after Cancel");
				}
			});
		});

		// ==============================
		// Standard Dialogs
		$("#notification").on( 'click', function () {
			reset();
			alertify.log("Standard log message");
			return false;
		});

		$("#success").on( 'click', function () {
			reset();
			alertify.success("Success log message");
			return false;
		});

		$("#error").on( 'click', function () {
			reset();
			alertify.error("Error log message");
			return false;
		});

		// ==============================
		// Custom Properties
		$("#delay").on( 'click', function () {
			reset();
			alertify.set({ delay: 10000 });
			alertify.log("Hiding in 10 seconds");
			return false;
		});

		$("#forever").on( 'click', function () {
			reset();
			alertify.log("Will stay until clicked", "", 0);
			return false;
		});

		$("#labels").on( 'click', function () {
			reset();
			alertify.set({ labels: { ok: "Accept", cancel: "Deny" } });
			alertify.confirm("Confirm dialog with custom button labels", function (e) {
				if (e) {
					alertify.success("You've clicked OK");
				} else {
					alertify.error("You've clicked Cancel");
				}
			});
			return false;
		});

		$("#focus").on( 'click', function () {
			reset();
			alertify.set({ buttonFocus: "cancel" });
			alertify.confirm("Confirm dialog with cancel button focused", function (e) {
				if (e) {
					alertify.success("You've clicked OK");
				} else {
					alertify.error("You've clicked Cancel");
				}
			});
			return false;
		});

		$("#order").on( 'click', function () {
			reset();
			alertify.set({ buttonReverse: true });
			alertify.confirm("Confirm dialog with reversed button order", function (e) {
				if (e) {
					alertify.success("You've clicked OK");
				} else {
					alertify.error("You've clicked Cancel");
				}
			});
			return false;
		});

		// ==============================
		// Custom Log
		$("#custom").on( 'click', function () {
			reset();
			alertify.custom = alertify.extend("custom");
			alertify.custom("I'm a custom log message");
			return false;
		});

		// ==============================
		// Custom Themes
		$("#bootstrap").on( 'click', function () {
			reset();
			$("#toggleCSS").attr("href", "../themes/alertify.bootstrap.css");
			alertify.prompt("Prompt dialog with bootstrap theme", function (e) {
				if (e) {
					alertify.success("You've clicked OK");
				} else {
					alertify.error("You've clicked Cancel");
				}
			}, "Default Value");
			return false;
		});
</script>
@if (ViewBag.Agregado!=null)
{
    <script type="text/javascript">
        window.onload = function () {
            reset();
            alertify.alert("Producto Agregado con éxito!");
            return false;
        }
    </script>
}
@if (ViewBag.Eliminado != null)
{
    <script type="text/javascript">
        window.onload = function () {
            reset();
            alertify.alert("Producto Eliminado con éxito!");
            return false;
        }
    </script>
}
@if (ViewBag.Actualizado != null)
{
    <script type="text/javascript">
        window.onload = function () {
            reset();
            alertify.alert("Producto Actualizado con éxito!");
            return false;
        }
    </script>
}